name: Générer un APK Android

on:
  push:
    branches:
      - principal
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Créer un HOME utilisateur accessible
        run: |
          mkdir -p $HOME/.local/bin
          mkdir -p $HOME/android
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Installer dépendances système
        run: |
          sudo apt update
          sudo apt install -y \
            zip unzip openjdk-17-jdk \
            libncurses5 libstdc++6 \
            zlib1g-dev libffi-dev \
            libssl-dev build-essential \
            autoconf automake libtool \
            pkg-config

      - name: Mettre à jour pip
        run: python -m pip install --upgrade pip

      - name: Installer Buildozer
        run: |
          python -m pip install --user buildozer cython
          which buildozer
          buildozer --version

      - name: Configurer variables Android
        run: |
          echo "ANDROID_HOME=$HOME/android" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=$HOME/android" >> $GITHUB_ENV

      - name: Générer l'APK (debug)
        run: |
          $HOME/.local/bin/buildozer -v android debug

      - name: Publier l’APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-badiboss-eglise
          path: bin/*.apk
